body{
    font-family: Avenir next;
}
#signUpForm, 
#loginForm {
    width: 33.3%;
    margin: 70px auto;
    border-radius: 4px;
    background: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap:10px;  
    font-size: 14px;
}
.form-input{
    padding: 5px;
    border-bottom: 1px solid gray;
    /* border-radius: 4px; */
    font-size: 14px;
}
.form-input :focus {
    outline: 2px solid transparent;
}
input[type='submit'] {
    padding: 10px;
    background: red;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
select {
    padding: 5px;
    border-bottom: 1px solid gray;
    border-radius: 4px;
}

Nav {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.nav {
    margin: 10px 0px;
    color: #fff;
}

#createGallery {
    border-radius: 4px;
    padding:5px 32px;
    background-color: rgb(48, 48, 48);
}

#searchGallery {
    border-radius: 4px;
    padding:5px 20px;
    background-color: rgb(38, 96, 110);
}

#saveGallery {
    background-color: rgb(240, 115, 115);
    padding: 5px;
}

#saveGallery :hover{
    background-color: rgb(148, 2, 2);
}

.filter-input {
    border-bottom: 1px solid black;
}

.error {
    color: red;
}

.succes {
    color: green;
}

.galTem {
    border: 1px dashed blue;
    padding: 20px;
    height: auto;
}

.gn {
    width: auto;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.upload {
    background-color: rgb(34, 160, 34);
    padding: 4px 20px;
    margin: 12px 0;
}

.wedge {
    padding: 0 100px; 
}

@media (max-width:1024px) {
    #signUpForm,
    #loginForm {
        width: 60%;
    }
    .wedge {
        padding: 10px 80px; 
    }
}

@media (max-width:768px) {
    #signUpForm,
    #loginForm {
        width: 80%;
    }
    .wedge {
        padding: 10px 50px; 
    }
}

@media (max-width:540px) {
    #signUpForm,
    #loginForm {
        width: 90%;
    }
    .wedge {
        padding: 10px 10px; 
    }
}